<?xml version="1.0" encoding="utf-8"?>
<!--
  IIS reverse proxy สำหรับ deploy ใต้ portal.ip-one.com
  IIS Application alias: line-promo-bot
  Webhook URL:         https://portal.ip-one.com/line-promo-bot/webhook
  Node (PM2) ฟังที่:   http://localhost:3000

  ต้องติดตั้ง: URL Rewrite + ARR (Enable proxy ที่ระดับ Server)
  วางไฟล์นี้ใน physical path ของ IIS app IP1-Reportpomotion
-->
<configuration>
  <system.webServer>
    <handlers>
      <clear />
      <add name="ReverseProxy" path="*" verb="*" modules="Rewrite" resourceType="Unspecified" requireAccess="None" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="ProxyToBot" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://localhost:3000/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_PROTO" value="https" />
            <set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}" />
          </serverVariables>
        </rule>
      </rules>
      <allowedServerVariables>
        <add name="HTTP_X_FORWARDED_PROTO" />
        <add name="HTTP_X_FORWARDED_HOST" />
      </allowedServerVariables>
    </rewrite>
    <security>
      <authentication>
        <anonymousAuthentication enabled="true" />
        <windowsAuthentication enabled="false" />
      </authentication>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
